{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>Prices</title>
</head>
<body>
<div class="d-flex flex-wrap justify-content-center" style="margin-top: 20px">
    <a href="{% url 'main-page' %}" class="btn btn-warning mx-2">refresh</a>
    <button type="submit" class="btn btn-success btn-clear mx-2">clear stopped</button>
</div>
<div class="main d-flex flex-wrap justify-content-around" style="margin-top: 20px">
    {% for price in prices %}
        <div class="card bg-light bg-secondary mx-1 my-2" style="width: 10rem;">
            <div class="card-header symbol">{{ price.symbol }}</div>
            <div class="card-body">
                <p class="card-text"> {{ price.price }}</p>
                {% if price.refresh %}
                    <button type="submit" class="btn btn-secondary switch">stop</button>
                {% else %}
                    <button type="submit" class="btn btn-danger switch">stopped</button>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
<script>
    const token = "{{ csrf_token }}";
    const url = "{% url 'switch' %}";
</script>
<script src="{% static 'app/js/script.js' %}"></script>

</body>
</html>