<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>Prices</title>
</head>
<body>
    <div class="container">
        <div class="d-flex flex-wrap align-items-end align-items-lg-center">
            {% for price in prices %}
            <div>
                <div class="card bg-light bg-secondary mx-1 my-2"
                     style="width: 10rem;">
                    <div class="card-header">{{ price.symbol }}</div>
                    <div class="card-body">
                        <p class="card-text"> {{ price.price }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>